

    <div class="container">
        <h2 class="text-center">{{ nota[0].titulo }} <small> - por {{nota[0].autor}}</small></h2>
        <hr>
        <div class="row">
            <div class="col-sm-4" >
                <img src="{{nota[0].img8col}}" style="height:573px;">
            </div>
            <div class="col-sm-8">
            </div>
            <div class="col-sm-8">
                <p>{{nota[0].texto}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header">Noticias Relacionadas</h3>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive img-customer" src="http://placehold.it/500x300">
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive img-customer" src="http://placehold.it/500x300">
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive img-customer" src="http://placehold.it/500x300">
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive img-customer" src="http://placehold.it/500x300">
                </a>
            </div>

        </div>

    </div>
 

