                <br>
              <div class="col-xs-6 col-md-4">
                <form name="formMedios" class="well " role="form">
                          <div class="form-group">
                            <label for="protagonista1">Nombre de Medio</label>
                              <input ng-model="medio.nombre" type="text" class="form-control" placeholder="Nuevo Medio" required>
                          </div>
                          <div class="form-group">
                          <label>URL de pagina principal</label>
                            <input ng-model="medio.url" type="text" class="form-control" placeholder="http://" required>
                          </div>   
                      <div class="form-group">
                        <label class="col-sm-2 control-label">Logotipo </label><br>
                        <div class="col-sm-10">
                          <input type="file" ng-model="medio.imagen" >
                        </div>
                      </div>
                 <br>
                 <br>        
                  <br>
                    <button class=" btn btn-primary btn-lg btn-block" ng-disabled="formMedios.$invalid" ng-click="updateMedio(medio)">Guardar
                    </button>
                  
                          
                </form>
                <div class="col-xs-6">
                  <br>

                  <br>
                <div class="{{alerta.tipo}}" id="mensajes">
                  {{alerta.mensaje}}
                </div>
              </div>
              </div>
              <div class="col-xs-6 col-md-4">
              	<form name="formAutor" role="form" class="well">
              		<div class="form-group">
              			<label>Nombre de Medio</label>
              			<select class="form-control" ng-model="medio" ng-change="getAutor(medio.id)" ng-options="opMedio.nombre for opMedio in opcionesMedios" required>
              			</select>
              		</div> 
              		<br />             	
              		<div class="form-group">
              			<label>Nombre de Autor</label>
              			<select class="form-control" ng-model="autor" ng-disabled="!medio" ng-options="opAutor.nombre for opAutor in opcionesAutor" required>
              			</select>
              		</div>
              		<br /><br />
              		<button class="btn btn-primary btn-lg btn-block" ng-disabled="formAutor.$invalid" ng-click="updateColabora(medio, autor)">Guardar</button>
              	</form>
              	<div class="col-sm-12">
				<br>
                <br>
	            	<div class="{{alerta.tipo}}" id="mensajes">
						{{alerta.mensaje}}
              		</div>
				</div>
              </div>
        
<div class="col-xs-6 col-md-4" >
  <form name="formAutor"class="well well-sm" role="form">
      <h3 class="text-center">Alta de Autores</h3>
  <hr>
    <div class="form-group">
      <label>Nombre de Medio</label>
        <select class="form-control" ng-model="autors.medio" ng-options="opMedios.nombre for opMedios in opcionesMedios" required>
        </select>
    </div>
    <div class="form-group">
       <label >Nombre de Autor</label>
       <input ng-model="autors.nombre" type="text" class="form-control" placeholder="Nombre completo del nuevo autor" required>
    </div>
    <label>Genero</label>
    <div>
      <label class="radio-inline">
          <input type="radio" ng-model="autors.genero" name="1" value="SN" active> Sin Especificar
      </label>
      <label class="radio-inline">
        <input type="radio" ng-model="autors.genero"  name="1" value="M"> Masculino
      </label>
      <label class="radio-inline">
        <input type="radio" ng-model="autors.genero"  name="1" value="F"> Femenino
      </label>                          
    </div>
    <br>      
       <button class=" btn btn-primary btn-md btn-block" ng-disabled="formAutor.$invalid" ng-click="updateAutor(autors)">Guardar Autor    </button>
  </form>
  <br>
      <div class="{{alerta.tipo}}" id="mensajes2">
        {{alerta.mensaje}}
      </div>
</div>