                <br>

              <div class="col-xs-6 col-md-4">

                <form name="formProtagonista" class=" well well-sm" role="form">
                  <h3 class="text-center">Alta de Protagonista</h3>
                  <hr>
                  <div class="form-group">
                    <label for="protagonista1">Nombre de Protagonista</label>
                    <input ng-model="protagonista.nombre" type="text" class="form-control" id="nombreProtagonista" placeholder="Nombre de nuevo protagonista" required>
                  </div>
                  <div class="form-group">
                    <label>Genero</label>
                    <select class="form-control" ng-model="protagonista.genero" required>
                      <option value="SN"> Sin Especificar
                      </option>
                      <option value="F"> Femenino
                      </option>
                      <option value="M"> Masculino
                      </option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label>Cargo</label>
                   	<select ng-model="protagonista.cargo" ng-options="opCargo.nombre for opCargo in cargos" class="form-control">
                    	<option value="" disabled selected>Selecciona un cargo</option>
                    </select>
                  </div> 
                    <button class=" btn btn-primary btn-md btn-block" ng-disabled="formProtagonista.$invalid" ng-click="updateProtagonista(protagonista)">Guardar</button>  
                </form>
              <div class="col-sm-12">
                  <br>
                <div class="{{alerta.tipo}}" id="mensajes">
                  {{alerta.mensaje}}
                </div>
              </div>  
              </div>
<div class="col-xs-6 col-md-4">
  <form class="well well-sm" name="formCargo">
                  <div class="form-group">
                   <h3 class="text-center">Alta de Cargo</h3>
                  	<hr>
                    <input ng-model="cargo.nombre" type="text" class="form-control" placeholder="Nombre del Cargo" required>
                  </div> 
                    <button class=" btn btn-primary btn-md btn-block" ng-disabled="formCargo.$invalid" ng-click="updateCargo(cargo)">Guardar</button> 
  </form>
</div>
<div class="col-xs-6 col-md-4">
	<form class="well well-sm" name="formCargoProt" ng-model="formCargoProt">
    	<div class="form-group">
        	<h3 class="text-center">Asignar Cargo a Protagonista</h3>
            <hr />
            <select ng-model="prot" ng-options="opProt for opProt in protagonistas" class="form-control" ng-change="getcargo(prot)" required>
            	<option value="" disabled selected>Selecciona un protagonista</option>
            </select>
            <hr />
            <select ng-model="car" ng-options="opCar for opCar in crg" class="form-control" ng-disabled="!prot.id" required>
           		<option value="" disabled selected></option>
            </select>
        </div>
        <button class="btn btn-primary btn-md btn-block" ng-disabled="formCargoProt.$invalid" ng-click="updateProt()">Guardar</button>
    </form>
</div>
